@import "../../stylesheets/abstracts/variables";
@import "stylesheets/abstracts/mixins";


.issue-detail {
  &__header {
    font-weight: normal;
    line-height: 1.125;
    margin: 0 0 10px;
  }

  &__number {
    font-weight: 300;
    color: $grey;
    letter-spacing: -1px;
  }

  &__user-login {
    font-weight: 600;
    margin-right: 5px;
  }


  &__avatar {
    display: none;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 5px;

    @include respond-to("small") {
      float: left;
      display: inline-block;
    }
  }

  &__message {
    border: solid 1px $athens-gray;
    border-radius: 5px;

    @include respond-to("small") {
      margin-left: 60px;
    }
  }


  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: solid 1px $athens-gray;
    margin-bottom: 20px;

    @include respond-to("small") {
      flex-direction: row;
      align-items: center;

    }
  }


  &__state {
    padding: 5px 10px;
    color: #FFF;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 20px;
    display: inline-block;
    margin-right: 5px;

    &_state_open {
      background-color: #2cbe4e;
    }

    &_state_closed {
      background-color: $red;
    }
  }

  &__message-header {
    background-color: $athens-gray;
    color: $shuttle-gray;
    padding: 10px;
    display: flex;
  }

  &__description {
    padding: 10px;
  }
}
