.issue-detail__header {
  font-weight: normal;
  line-height: 1.125;
  margin: 0 0 10px; }

.issue-detail__number {
  font-weight: 300;
  color: #858585;
  letter-spacing: -1px; }

.issue-detail__user-login {
  font-weight: 600;
  margin-right: 5px; }

.issue-detail__avatar {
  display: none;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 5px; }
  @media screen and (min-width: 768px) {
    .issue-detail__avatar {
      float: left;
      display: inline-block; } }

.issue-detail__message {
  border: solid 1px #E1E4E8;
  border-radius: 5px; }
  @media screen and (min-width: 768px) {
    .issue-detail__message {
      margin-left: 60px; } }

.issue-detail__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: solid 1px #E1E4E8;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .issue-detail__top {
      flex-direction: row;
      align-items: center; } }

.issue-detail__state {
  padding: 5px 10px;
  color: #FFF;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
  margin-right: 5px; }
  .issue-detail__state_state_open {
    background-color: #2cbe4e; }
  .issue-detail__state_state_closed {
    background-color: #cb2431; }

.issue-detail__message-header {
  background-color: #E1E4E8;
  color: #586069;
  padding: 10px;
  display: flex; }

.issue-detail__description {
  padding: 10px; }
