<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <clientCache cacheControlCustom="max-age=31536000,must-revalidate" />
      </staticContent>
      <rewrite>
         <rules>
            <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAny">
                  <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
               </conditions>
               <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
            </rule>
            <rule name="React Routes" stopProcessing="true">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="/" />
            </rule>
          </rules>
          <outboundRules>
               <rule name="RewriteCacheControlForHTMLFiles" preCondition="FileEndsWithHtml">
                   <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
                   <action type="Rewrite" value="no-cache" />
               </rule>
               <rule name="RewriteCacheControlForSwFiles" preCondition="SwJsFile">
                    <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
                    <action type="Rewrite" value="no-cache" />
                </rule>
               <preConditions>
                    <preCondition name="FileEndsWithHtml">
                        <add input="{REQUEST_FILENAME}" pattern="\.html$" />
                    </preCondition>
                     <preCondition name="SwJsFile">
                         <add input="{REQUEST_FILENAME}" pattern="sw.js" />
                     </preCondition>
               </preConditions>
           </outboundRules>
      </rewrite>
   </system.webServer>
</configuration>
