@import "./../../stylesheets/abstracts/variables";

.button {
  width: 140px;
  min-height: 34px;
  padding: 0;
  border-width: 0;
  background-color: $blue;
  color: #FFF;
  cursor: pointer;
  text-transform: uppercase;
}

