.issues-list-element {
  padding: 8px;
  list-style: none;
  border-top: 1px solid #E1E4E8; }
  .issues-list-element:last-child {
    border-bottom: 1px solid #E1E4E8; }
  .issues-list-element:hover {
    background-color: #f1f1f1; }
  .issues-list-element__title {
    font-size: 16px;
    font-weight: 600; }
  .issues-list-element__body {
    display: flex;
    font-size: 12px;
    margin-top: 4px;
    color: #586069; }
  .issues-list-element__number {
    margin-right: 5px; }
