@import "stylesheets/abstracts/variables";

a.page-button:hover {
  background-color: #e1e4e8;
}

.page-button {
  font-size: 14px;
  padding: 6px 12px;
  background-color: #fff;
  color: $blue;
  border: 1px solid $athens-gray;
  margin-left: -1px;
  font-weight: 600;
  text-decoration: none;

  &_active {
    background-color: $blue;
    color: #fff;
    &:hover, &:link, &:visited, &:active {
      background-color: $blue;
      color: #fff;
    }
  }
}
