@import "./../../stylesheets/abstracts/variables";

.paging {
  display: flex;
  justify-content: center;
}

.page-button {
  font-size: 14px;
  padding: 6px 12px;
  background-color: #fff;
  color: $blue;
  border: 1px solid $athens-gray;
  margin-left: -1px;
  font-weight: 300;
  cursor: pointer;

  &[disabled] {
    color:$grey;
    cursor: default;
  }

  &:focus {
    outline: 0;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &_active {
    background-color: $blue;
    color: #fff;
  }
}