$blue: #005ca9;
$seashell:  #f1f1f1;
$athens-gray: #E1E4E8;
$grey: #858585;
$shuttle-gray: #586069;
$shark: #24292e;

$breakpoints: (
        small: "min-width: 768px",
        medium: "min-width: 992px"
)

