@import "stylesheets/abstracts/variables";

.link {
  cursor: pointer;
  &:hover, &:link, &:visited, &:active {
    color: $shark;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
