.home-page {
  max-width: 800px;
  margin: 40px auto;
  line-height: 1.25;
  word-wrap: break-word;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  &__search {
    margin: 20px auto;
  }
}